<!--
 * &Author: guanyj
 * &Email: 18062791691@163.com
 * &Date: 2019-01-26 12:42:44
 * &LastEditTime: 2019-01-26 18:10:25
 -->
<div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="16" class="waf-filter-value">
        <nz-date-picker #datePicker [ngModel]="value" (ngModelChange)="wafDateSearch($event)"></nz-date-picker>
    </div>
    <div nz-col nzSpan="4" class="waf-filter-operator">
        <nz-dropdown [nzTrigger]="'click'">
            <a nz-dropdown><i nz-icon style="font-size: 16px" type="filter" theme="fill"></i></a>
            <ul nz-menu nzSelectable>
                <li nz-menu-item>
                    <a>大于</a>
                </li>
                <li nz-menu-item>
                    <a>小于</a>
                </li>
                <li nz-menu-item>
                    <a>等于</a>
                </li>
            </ul>
        </nz-dropdown>
    </div>
    <div [hidden]="!value" nz-col nzSpan="4" class="waf-filter-clear">
        <a><i nz-icon type="delete" theme="fill"></i></a>
    </div>
</div>
