


.waf-grid {

    .drag-line {
        position: absolute;
        right: -1px;
        top: 0;
        cursor: ew-resize;
        height: 38px;
        width: 2px;
        z-index: 99;
    }

    // 自定义按钮栏
    .waf-grid-left-toolbar {
        float: left;
        height: 50px;
        line-height: 50px;
        z-index: 99;
    }

    // 工具栏
    .waf-grid-toolbar {
        height: 50px;

        .toolbar-item {
            width: 50px;
            line-height: 50px;
            text-align: center;
            float: right;
            color: #666;
            font-size: 16px;

            &:hover {
                color: #349df1;
            }
        }
    }

    .waf-action-wrap {
        text-align: left;
        padding-left: 20px;

        .action-item {
            margin-right: 10px;
            font-size: 14px;
            color: #ff4d4f;

            &:first-child {
                margin-left: 20px;
            }

            &:hover {
                text-decoration: underline;
                color: #40a9ff;
            }
        }
    }

}
