<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2019-01-26 12:42:44
 * @LastEditTime: 2019-01-26 14:12:01
 -->
<div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="16" class="waf-filter-value">
        <nz-select #select style="width: 100%;" nzPlaceHolder="Choose">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
    </div>
    <div nz-col nzSpan="4" class="waf-filter-operator">
        <nz-dropdown [nzTrigger]="'click'">
            <a nz-dropdown><i nz-icon style="font-size: 16px" type="filter" theme="fill"></i></a>
            <ul nz-menu nzSelectable>
                <li nz-menu-item>
                    <a>大于</a>
                </li>
                <li nz-menu-item>
                    <a>小于</a>
                </li>
                <li nz-menu-item>
                    <a>等于</a>
                </li>
            </ul>
        </nz-dropdown>
    </div>
    <div [hidden]="!select.value" nz-col nzSpan="4" class="waf-filter-clear">
        <a><i nz-icon type="delete" theme="fill"></i></a>
    </div>
</div>
