<!--
 * &Author: guanyj
 * &Email: 18062791691@163.com
 * &Date: 2019-01-26 12:42:44
 * &LastEditTime: 2019-01-26 18:10:19
 -->
<div nz-row nzType="flex" nzJustify="start">
    <div nz-col nzSpan="24" class="waf-filter-value">
        <nz-select #select style="width: 100%;"
            [(ngModel)]="value"
            [nzMode]="'multiple'"
            [nzAllowClear]="false"
            (nzOpenChange)="wafDateSearch($event)"
            nzPlaceHolder="选择枚举值">
            <nz-option *ngFor="let item of dropdown"
                [nzValue]="item.value"
                [nzLabel]="item.label">
            </nz-option>
        </nz-select>
    </div>
</div>
